<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>WagWatch</title>
<link rel="stylesheet" href="/path-to-your-stylesheet.css">
</head>
<body>

<div class="header">
  <h1>WagWatch</h1>
  {{#if logged_in}}
  <a href="/logout">Logout</a>
  {{else}}
  <a href="/login">Login</a>
  {{/if}}
  <a href="/signup">Sign-Up</a>
</div>
<main class="main">
  {{{ body }}}
</main>
{{#if logged_in}}
<script src="/public/js/logout.js"></script>
{{/if}}
</body>
</html>
