<div>
    <h1>Booking!</h1>
    <div class="card">
        <h1>{{name}}</h1>
        <p>{{location}}</p>
        <p>{{date}}</p>
        <p>{{description}}</p>
        <button>Confirm</button>
    </div>
</div>

<script src=""></script>