<div class="main">
  <div>
    <h2>About us!</h2>
    <p>WagWatch is a site where pet sitters and pet owners can sign up to Wag or Watch! The owners will be able to build their profiles to coordinate personalized care for their pets. The sitter will be able to build their profiles to display their pet sitting experience and select pets to sit.
.</p>
  </div>
  <div>
    <h2>Photos</h2>
    <!-- Photos content will go here -->
  </div>
  <div>
    <h2>Pets of the Day</h2>
    <p>Check out the Dog of the Day!</p>
    <!-- Cat of the Day api will go here -->
    <p>Check out the Cat of the Day!</p>
    <!-- Dog of the Day api will go here -->
  </div>
</div>

<div class="footer">
  <p>Footer</p>
</div>