<div class="main">
  <div>
    <h2>About us!</h2>
    <p>Some text about who we are and what we do.</p>
  </div>
  <div>
    <h2>Photos</h2>
    <!-- Photos content will go here -->
  </div>
  <div>
    <h2>Pets of the Day</h2>
    <p>Check out the Dog of the Day!</p>
    <!-- Cat of the Day api will go here -->
    <p>Check out the Cat of the Day!</p>
    <!-- Dog of the Day api will go here -->
  </div>
</div>

<div class="footer">
  <p>Footer</p>
</div>