{{!-- <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"> --}}
<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="p-4">
        <h2 class="text-2xl font-bold">Owner's Login</h2>

        <form class="owners login-form">
            <div class="mb-4">
                <label for="email-login" class="block">Email:</label>
                <input class="form-input" type="text" id="email-login" />
            </div>
            <div class="mb-4">
                <label for="password-login" class="block">Password:</label>
                <input class="form-input" type="password" id="password-login" />
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
        </form>
    </div>
    <div class="p-4">
        <h2 class="text-2xl font-bold">Sitter's Login</h2>

        <form class="sitters login-form">
            <div class="mb-4">
                <label for="email-login" class="block">Email:</label>
                <input class="form-input" type="text" id="email-login" />
            </div>
            <div class="mb-4">
                <label for="password-login" class="block">Password:</label>
                <input class="form-input" type="password" id="password-login" />
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
        </form>
    </div>
    <div class="p-4">
        <h2 class="text-2xl font-bold">Owner's Signup</h2>

        <form class="owners signup-form">
            <div class="mb-4">
                <label for="name-signup" class="block">Name:</label>
                <input class="form-input" type="text" id="name-signup" />
            </div>
            <div class="mb-4">
                <label for="email-signup" class="block">Email:</label>
                <input class="form-input" type="text" id="email-signup" />
            </div>
            <div class="mb-4">
                <label for="password-signup" class="block">Password:</label>
                <input class="form-input" type="password" id="password-signup" />
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Signup</button>
            </div>
        </form>
    </div>
    <div class="p-4">
        <h2 class="text-2xl font-bold">Sitter's Signup</h2>

        <form class="sitters signup-form">
            <div class="mb-4">
                <label for="name-signup" class="block">Name:</label>
                <input class="form-input" type="text" id="name-signup" />
            </div>
            <div class="mb-4">
                <label for="email-signup" class="block">Email:</label>
                <input class="form-input" type="text" id="email-signup" />
            </div>
            <div class="mb-4">
                <label for="password-signup" class="block">Password:</label>
                <input class="form-input" type="password" id="password-signup" />
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Signup</button>
            </div>
        </form>
    </div>
</div>

<script src="./js/login.js"></script>

