<body>
    <div class="card">
        <img src="" alt="profile picture" style="width:100%">
        <h1>{{name}}</h1>
        <p>{{email}}</p>
        <p>{{address, city, state, zip}}</p>
      </div>
    </div>
    <div >
        <h1>Available Pets</h1>
        <div class="card">

        </div>
    </div>
</body>